<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="thmiddle_gazebo" params="prefix">

  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <gazebo reference="${prefix}thmiddle">

      <selfCollide>true</selfCollide>
       
    </gazebo>
  </xacro:macro>
</robot>
