<launch>
  <!-- This launch file is for a right UR10 arm and shadow hand -->
  <arg name="hand_id" default="rh" />

  <group ns="sh">
    <include file="$(find sr_hand)/launch/gazebo/loaders/hand_controllers.launch">
      <arg name="hand_id"
      value="$(arg hand_id)" />
    </include>

      <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch"/>
  </group>

</launch>